/firstClass/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/WebApplication2/nbproject/private/
/prctice3/nbproject/private/
/prctice3/build/
/prctice3/dist/
/prctice4/nbproject/private/
/prctice4/dist/
/prctice4/build/
